body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
h1 {
    color : #29176A;
}
form {
text-align: left;
}

.body-index {
    margin: 0;
    bottom : 0;

}
.header-index {
    background-color: #FAF1D1;
    padding : 10px 20px;
    text-align: center;
    color: #29176A;
}
.article-index {
    margin :0;
    background-color: #FAF6EA;
    padding: 20px;
    text-align: justify;
}
nav a {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}
nav a:hover {
    text-decoration: underline overline;
}
.header-nav {
    padding: 5px;
    margin : 0px;
    position : sticky;
    top : 0px;
    background-color: #FAF1D1;
}


.index-button {
    padding : 0.5em;
    color: white;
    background-color: #5e5a6d;
    text-decoration-line: none;
    border: solid;
    border-color: #29176A;
}

.prix {
    display: inline;
    text-align: center;
}

.galerie-nav {
    position : static;
    padding: 5px;
    margin : 8px;
    top : 0px;
    background-color: #f8f4e7;
}

.logo-papillon {
    position: float;
    top : 0px;
    left: 0px;
}