body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
h1 {
    color : #29176A;
}


.body-index {
    margin: 0;
}
.header-index {
    background-color: #FAF1D1;
    padding : 10px 20px;
    text-align: center;
    color: #29176A;
}
.article-index {
    margin :0;
    background-color: #FAF6EA;
    padding: 20px;
    text-align: justify;
}
nav a {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}
nav a:hover {
    text-decoration: underline overline;
}

.menu-nav {
    padding: 5px;
    margin : 0px;
    position : sticky;
    top : 0px;
    background-color: #FAF1D1;
}


.galerie-nav {
    position : static;
    padding: 5px;
    margin : 8px;
    top : 0px;
    background-color: #f8f4e7;
}


.prix {
    display: inline;
    text-align: center;
}

td, th {
    border : solid;
    border-width: 1px;
}
table {
    table-layout: auto;
    border-collapse : collapse;
}

th {
    background-color: #f8f4e7;
}


form {
    text-align: center;
    }

fieldset {
    display: inline-grid;
    text-align: left;

}
label {
    text-align: left;
}

.social-media-link {
    text-decoration: none;
}

