body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body_index {
    margin: 0;
}

.header {
    background-color: #FAF1D1;
    padding : 10px 20px;
    text-align: center;
    color: #29176A
}


.article {
    margin :0;
    background-color: #FAF6EA;
    padding: 20px;
}

nav a {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    text-decoration: underline overline;
}

nav {
    padding: 10px;
}

